version: 2.1

jobs:
  test:
    description: "Fully tests the application with the DB sidecar"
    docker:
      # Primary container running the application
      - image: cimg/python:3.14
        environment:
          FLASK_ENV: testing
          TEST_DATABASE_URL: postgresql://$DB_USER:$DB_PASSWORD@localhost:5432/$DB_NAME

      # Sidecar container running PostgreSQL for testing the database
      - image: postgres:18
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: mydb

    steps:
      - checkout
      - run:
          name: Install System Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y gcc libpq-dev wget tar

      - run:
          name: Install Dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.6.1

      - run:
          name: Wait for Database
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Install Python Dependencies
          command: |
            pip install --upgrade pip
            pip install -r project/requirements/requirements.txt
            pip install -r project/requirements/requirements-dev.txt

      - run:
          name: Run Tests
          command: make test

      # Upload test results for test summary section
      - store_test_results:
          path: test-results

      - store_artifacts:
          path: test-results

  build:
    description: "Build Docker Image (multi-arch with Buildx)"
    docker:
      - image: cimg/base:current-24.04

    # Allows Docker commands to be run locally
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Install Docker Buildx
          command: |
            BUILDx_VERSION="v0.10.5"
            mkdir -p ~/.docker/cli-plugins
            curl -sSL https://github.com/docker/buildx/releases/download/${BUILDx_VERSION}/buildx-${BUILDx_VERSION}.linux-amd64 -o ~/.docker/cli-plugins/docker-buildx
            chmod +x ~/.docker/cli-plugins/docker-buildx
            docker buildx version

      - run:
          name: Enable QEMU for multi-arch
          command: docker run --rm --privileged tonistiigi/binfmt:latest --install all

      - run:
          name: Create Buildx Builder
          command: |
            docker buildx create --name mybuilder --use

      - run:
          name: Docker Hub Login
          command: |
            echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin

      - run:
          name: Build and Push Multi-Arch Image
          command: |
            IMAGE_TAG=${CIRCLE_SHA1}
            docker buildx build \
              --platform linux/amd64,linux/arm64 \
              -t $DOCKERHUB_USER/groceryapp:${IMAGE_TAG} \
              -t $DOCKERHUB_USER/groceryapp:latest \
              --push .

  deploy:
    description: "Trigger deployment via Render deploy hook"
    docker:
      - image: cimg/base:current-24.04

    steps:
      - checkout
      - run:
          name: Deploy to Render
          command: |
            # Deploy to Render and fail the job when deploy hook is unsuccessful
            IMAGE_REGISTRY="docker.io"
            IMAGE_NAMESPACE="serenemedina"
            IMAGE_NAME="groceryapp"
            IMAGE_TAG="${CIRCLE_SHA1}"

            .ci/deploy.sh "${IMAGE_REGISTRY}" "${IMAGE_NAMESPACE}" "${IMAGE_NAME}" "${IMAGE_TAG}"

workflows:
  ci_pipeline:
    jobs:
      - test
      - build:
          requires:
            - test
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - main
